
# AI Stuff
GROQ_LLM_API_KEY=string
MISTRAL_EMBEDDING_API_KEY=string
QDRANT_URL=string

# DB Stuff
CONN_STRING=string

# Auth Stuff (admin)
JWT_PRIVATE_KEY=string
GMAIL_USER=string
GMAIL_PASS=string

# Qdrant set-up 
QDRANT_URL=string 
QDRANT_API_KEY=string